# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LesLie-14.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Leslie\Centennial College\GitHub\MyGithub\LesLie-14\.idea\.idea.LesLie-14.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
